<!DOCTYPE html>

<html land="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        <!--stylesheet and static assets-->
        <link href="/static/styles.css" rel="stylesheet">

        <title>Metronome</title>

    </head>
    <body class="global-attributes">
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>

</html>
